---
---

@import "{{ site.theme }}";

.page-header {
  padding: 2rem 1rem;
  linear-gradient(120deg, #811599, #401599)

  .project-name {
    padding: 0.5rem 0;
  }

  .project-tagline {
    padding: 0.25rem 0;
  }

  .btn {
    padding: 5px 5px;
  }

}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 12px 12px;

    .project-name {
      padding: 5px 0;
    }

    .project-tagline {
      padding: 5px 0;
    }

    .btn {
      padding: 5px 5px;
    }
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
        padding: 12px 12px;

        .project-name {
            padding: 5px 0;
        }

        .project-tagline {
            padding: 5px 0;
        }

        .btn {
            padding: 5px 5px;
          }
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 12px 12px;

        .project-name {
            padding: 5px 0;
        }

        .project-tagline {
            padding: 5px 0;
        }

        .btn {
            padding: 5px 5px;
          }
    }
}
